body {
    background: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: url('../assets/images/baseVector.png') bottom no-repeat;
}

.responsive-padding {
    padding-bottom: 100px;
}

.page-content {
    display: flex;
    min-height: 90vh;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
}

.button {
    width: 271px;
    height: 41px;
    border-radius: 40.5px;
    font-family: 'Unna', serif;
    font-size: 23px;
    line-height: 29px;
    font-weight: 700;
    z-index: 999;
}

/* ############################################# */
/* above checked */

.analyzing-name {
    font-family: 'Unna', serif;
    font-weight: 700;
    font-size: 40px;
    color: #f62a29;
    margin: 0px;
    padding: 0px;
    line-height: 50.68px;
    margin-top: 14px;
}

.analyzing-artist {
    font-family: 'Unna', serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 30.41px;
    font-size: 24px;
    margin: 0px;
}

.analyzing-album {
    font-family: 'Unna', serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 30.41px;
    font-size: 24px;
    margin: 0px;
}

.name-circle {
    font-family: 'Unna' serif;
    font-size: 25px;
    font-weight: 400;
    width: 200px;
    border: 1px solid #ffffff;
    height: 47px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.about-person-image {
    width: 495px;
    margin-bottom: 0;
}

.jeonghye {
    position: relative;
    left: 100px;
    top: 5px;
    margin-top: 35px;
}

.jack {
    position: relative;
    right: 70px;
}

.job-text {
    font-family: 'Unna', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 23.7px;
    margin: 0;
}

.email-text {
    font-family: 'Unna' serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 94.7%;
    margin: 10px;
}

.link-icon {
    width: 21px;
    height: 21px;
    margin: 5px;
}

.link-icon:hover {
    filter: invert(11%) sepia(100%) saturate(6384%) hue-rotate(264deg)
        brightness(57%) contrast(119%);
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Unna', serif; */

.houses-container {
    position: relative;
}

.houses {
    margin-top: 200px;
    opacity: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.lights {
    margin-top: 200px;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.lights:hover {
    opacity: 1;
    transition: opacity 0.3s;
}

.circular-portrait {
    position: relative;
    width: 30vh;
    height: 30vh;
    overflow: hidden;
    border-radius: 50%;
}

.circular-portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.center-image {
    position: absolute;
    /* bottom: 200px; */
}

.breakdown-box-one {
    margin-top: 60px;
    width: 1016px;
    height: 1975px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 100px;

    background: #141414;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 736.799px 736.242px 0px 0px;
}

.breakdown-box-two {
    width: 100%;
    height: 100%;
    background: #141414;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 736.799px 736.242px 0px 0px;
}

.full-breakdown-img {
    width: 273px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.breakdown-container {
    margin-bottom: 70px;
}

.breakdown-container:nth-of-type(4) {
    margin-bottom: 20px;
}

.emoji {
    font-size: 116px;
}

.breakdown-percent {
    font-family: 'Abril Fatface' cursive;
    font-size: 82px;
    font-weight: 700;
    line-height: 116px;
    margin: 0px;
}

.breakdown-mood {
    font-family: 'Unna' serif;
    font-weight: 700;
    font-size: 43px;
    margin: 0;
}

.keyboard {
    width: 893px;
    margin: 0;
}

.sound-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 60px;
}

.sound-key {
    font-family: 'Abril Fatface' cursive;
    font-size: 95.67px;
    color: '#ffffff';
    margin: 0;
}

.sound-text {
    font-family: 'Unna' serif;
    font-size: 50px;
    font-weight: 700;
}

.sound-button {
    width: 450px;
    background-color: #ffffff;
    border-radius: 28px;
    height: 43.34px;
    color: #000000;
    font-family: 'Unna' serif;
    font-size: 22px;
}

.unna {
    font-family: 'Unna' serif;
}
